## /home/backups/.my.cnf
## mariadb config file
## ======================================== ##

## This will be passed to all MariaDB clients
[client]
#host=localhost
user="backups"
password="PASSPHRASE_REMOVED"
